<ion-header>

    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Trips
        </ion-title>
        <ion-item slot="end" id="page-select1" text-wrap>
            <ion-label></ion-label>
            <ion-select [value]="activeAccountId" style=" max-width: 100% !important;"
                        *ngIf="(dataProvider.activeAccount$ | async) as activeAccountId"
                        (ionChange)="selectAccount($event)">
                <ion-select-option value="-1">
                    Tutti
                </ion-select-option>
                <ion-select-option  value="{{account.id}}"
                                   *ngFor="let account of accounts$ | async">
                    {{account.name}}
                </ion-select-option>

            </ion-select>
        </ion-item>
    </ion-toolbar>
</ion-header>
<ion-content>
    
    <accordion>
        <group *ngFor="let trip of trips$ | async">
            <span class="accordion-title">
                <ion-grid>
                    <ion-row>
                        <ion-col size="2"><fa-icon [icon]="faTruck"></fa-icon></ion-col>
                        <ion-col size="8"> {{trip.name}} - {{trip.startDate | date:'dd/MM/yyyy H:mm:ss a z' }}
                            / Account {{trip.accountId}} </ion-col>
                        <ion-col size="2">
                            <ion-button [routerLink]="['/trip-view/', trip.accountId ,trip.externalId]">
  <ion-icon slot="icon-only" name="send"></ion-icon>
</ion-button>

                            <!--                            /trip-view/{{trip.accountId}}/{{trip.externalId}}-->
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </span>
            <span class="accordion-content">
             <ion-grid>
                    <ion-row>
                        <ion-col size="2">Type</ion-col>
                        <ion-col size="10">{{trip.tripType}} </ion-col>
                    </ion-row>
                     <ion-row>
                        <ion-col size="2">From</ion-col>
                        <ion-col size="10">{{trip.fromAddress}}</ion-col>
                    </ion-row>
                     <ion-row>
                        <ion-col size="2">To</ion-col>
                        <ion-col size="10">{{trip.toAddress}}</ion-col>
                    </ion-row>
                </ion-grid>
            </span>
        </group>
    </accordion>
</ion-content>
